<h2>Let's Calculate!</h2>

<form action="/calc/submit">

  <label>
    First Number:
    <input type="text" name="first_num">

  </label>
  <br>
  <br>
  <label>
    Operator:
    <input type="text" name="operator">

  </label>
  <br>
  <br>
  <label>
    Second Number:
    <input type="text" name="second_num">

  </label>
  <br>
  <br>
  <button>Calculate!</button>

</form>
